@model dynamic

<h2>title</h2>
@{
    ViewData["Title"] = "Error";
    Layout = "_Layout";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
</head>
<body>
<h1>@ViewBag.ErrorMessage</h1>
<p>Sorry for the inconvenience. Please try again later or contact support if the issue persists.</p>
</body>
</html>
